/* Global Variables */
:root { 
    /* Primary Palette */
    --parchment: #e5d3b3;
    --leather: #c29b87;
    --oak: #a97854;
    --manuscript: #1e423f;
    --binding: #532c2e;
    --crimson: #34000b;
    
    /* analagous palette (FOR BOOKS */
    --book1: #5c334f;
    --book2: #5c333a;
    --book4: #5c4033;
    --book5: #5c5533;
    --book6: #4f6c35;


}

body { 
    margin: 0;
    font-family: "Georgia", serif;
    background: var(--parchment);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Picture Frame */
.frame { 
    width: 60px;
    height: 40px;
    background: url('https://media3.giphy.com/media/v1.Y2lkPTZjMDliOTUydnJpOXRxY2N2NHZuaWQwcjFlaHBrZnR6cGlqcDYzdTM1M2g5c3JzayZlcD12MV9zdGlja2Vyc19zZWFyY2gmY3Q9cw/KrR3B1YUWW2jnvgeEa/giphy-preview.gif') center/cover no-repeat;
    border: 3px solid #6b4f3b;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Push everything to floor lol */
.main { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    width: 100%;
}

/* Bookshelf itself */
.bookshelf { 
    /* Content Positioning */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* Layout */
    display: flex;
    background: #8b5e3c;

    /* Size and Spacing */
    max-width: 380px;
    height: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}

/* shelves */
.shelf { 
    /* Content Positioning */
    justify-content: center;
    align-items: flex-end;

    /* Layout */
    display: flex;
    background: #704d2a;

    /* Size and Spacing */
    width: 95%;
    height: 200px;
    margin:10px 0;
    padding-top: 10px;
}

/* General Book */
.book {
    /* Positioning */
    position: relative;

    /* Animations */
    transition: transform 0.4s ease, opacity 0.4s ease;
    
}

.book.interactive {

    /* Cursor */
    cursor: pointer;

    /* Text Position */
    writing-mode: vertical-rl;
    text-align: center;

    /* Font Details */
    color: #fff;
    font-weight: bold;
    font-size: 12px;

    /* Spacing */
    padding: 5px;
}

.book.interactive:hover {
    transform: translateY(-10px);
}

.book span {

    /* Text Position */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Font Details */
    color: #fff;
    font-weight: bold;
    font-size: 12px;

    /* Spacing */
    display: block;
    margin: 5px 0;
    padding: 5px;
}

.book.active {

    /* Order */
    z-index: 10;

    /* Animation */
    transform: translateY(-20px);
    
}

/* Book HEIGHTS! */
.book.short { height: 80px; }
.book.medium { height: 100px; }
.book.tall { height: 120px; }

/* Book Widths! */
.book.wide { width: 60px; }
.book.narrow { width: 30px; }
.book.thick { width: 40px; }


.content {

    /* Order */
    display: none;
    z-index: 100;
    
    /* Spacing, Size, and Layout*/
    margin-top: 20px;
    padding: 20px;
    background: url('images/open-book.png') center/contain no-repeat;
    width: 530px;
    height: 400px;
    /* border-radius: 10px; */
    /* box-shadow: 0 5px 20px rgba(0,0,0,0.3); */
    
    /* Animations!!!! */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    animation: fadeIn 0.5s ease forwards 0.25s;

    /* Content and Self Positioning */
    top: calc(50% - 200px);
    position: fixed;
    left: calc(50% - 250px);
    max-width: 500px;
}


.content.active {
    display: block;
    pointer-events: auto;
}

.book.active { 
    transform: translateY(-10px);
    z-index: 10;
    opacity: 0;
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-10px); }
}

@keyframes fadeIn { 
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0px); }
}

.page {
  position: absolute;
  top: 5%;   /* push down from top of page */
  bottom: 5%;/* keep inside book margins */
  padding: 5px;
  overflow-y: auto; /* allows scrolling if text overflows */
}

.page-left {
  left: 7.5%;
  width: 42.5%; /* left half of book */
}

.page-right {
  right: 7.5%;
  width: 42.5%; /* right half of book */
}

.close-btn {

    /* Positioning */
    position: absolute;
    top: 10px;
    right: 10px;

    /* Layout */
    background: none;
    border: none;
    cursor: pointer;
    color: darkgray;
    font-size: 20px;

    /* order */
    z-index: 101;
}

.footer { 
    width: 100%;
    height: 40px;
    background: #6b4f3b;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}